# Core (CRITICAL FIX)

numpy==1.19.4
scipy==1.5.4

# ML

scikit-learn==0.24.2
joblib==1.1.1
threadpoolctl==2.2.0

# Visualization (safe versions)

pillow==8.4.0

# Utilities

colorama==0.4.4
tqdm==4.62.3
filelock==3.4.0
packaging==21.3
typing_extensions==3.10.0.2

# Math

mpmath==1.1.0
sympy==1.8

# Misc

python-dateutil==2.8.2
pyparsing==2.4.7
six==1.15.0
networkx==2.5.1
Jinja2==3.0.3
MarkupSafe==2.0.1
fsspec==2022.1.0
setuptools==59.6.0
