colorama
contourpy
cycler
filelock
fonttools
fsspec
Jinja2
joblib
kiwisolver
matplotlib
mpmath
networkx
numpy
packaging
pillow
pyparsing
python-dateutil
scikit-learn
scipy
sympy
threadpoolctl
tqdm
typing_extensions